body {
	background-image: url('https://images.pexels.com/photos/1329320/pexels-photo-1329320.jpeg?auto=compress&cs=tinysrgb&h=350');
	background-repeat: no-repeat;
	background-size:cover;

}

styles h1, p {
	color: #ffffff;
}

